<div class="modal" id="chat-modal" style="z-index: 900">
    <div class="modal-background"></div>
    <div class="modal-content" style="width: 90%; z-index: 901">
        <iframe src="https://titanembeds.com/embed/339376237560463360" style="width: 100%; max-width: 1200px; height: 600px; z-index: 902; border-radius: 10px" frameborder="0"></iframe>
    </div>
    <button class="modal-close is-large" onclick="document.getElementById('chat-modal').classList.remove('is-active'); document.getElementsByTagName('html')[0].style['overflow-y'] = '''">Open Chat</button>
</div>